body {
    background-image: url('/resources/photo-1525784451128-d1488f52f03e.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 2rem;
    max-width: 500px;
    margin: auto;
  }

  html, body {
    height: 100%;
  }
  
  h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  
  #weatherForm {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  input {
    padding: 0.5rem;
    flex: 1;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #error {
    color: red;
    text-align: center;
    margin: 20px;
  }
  
  #result {
    max-height: 400px;
    overflow-y: auto;
  }

  #result, #error {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }